# FEMTIC outputs
# computing/*.log
# computing/*.dat
dependencies/
bin/

# Postprocessing figures
postprocessing/
preprocessing/
computing/

# Python
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
