# FEMTIC outputs
# computing/*.log
# computing/*.dat
dependencies/

# Postprocessing figures
postprocessing/
preprocessing/
computing/
bin/


# Python
__pycache__/
*.egg-info/
*.pyc

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
